@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  --fw-bold: 700;
  --fw-normal: 400;

  --primary-color: hsl(26, 100%, 55%);
  --secondary-color: hsl(25, 100%, 94%);
  --text-primary-color: hsl(220, 13%, 13%);
  --text-secondary-color: hsla(217, 9%, 45%, 0.507);
  --text-muted-color: hsl(220, 14%, 75%);
  --background-primary-color: hsl(0, 0%, 100%);
  --background-secondary-color: hsl(223, 64%, 98%);
}
body {
  color: var(--text-primary-color);
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: var(--text-secondary-color);
}
img {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
b {
  font-weight: var(--fw-bold);
}
/* utility */
.flex-between {
  display: flex;

  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.open {
  display: block !important;
}
.open-link {
  display: block !important;
}
