@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  --fw-bold: 700;
  --fw-normal: 400;

  --primary-color: hsl(26, 100%, 55%);
  --secondary-color: hsl(25, 100%, 94%);
  --text-primary-color: hsl(220, 13%, 13%);
  --text-secondary-color: hsl(219, 9%, 45%);
  --text-muted-color: hsl(220, 14%, 75%);
  --background-primary-color: hsl(0, 0%, 100%);
  --background-secondary-color: hsl(223, 64%, 98%);
}
body {
  color: var(--text-primary-color);
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: var(--text-secondary-color);
}
img {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
b {
  font-weight: var(--fw-bold);
}
/* utility */
.flex-between {
  display: flex;

  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
/* content */
header,
nav.nav-user {
  align-items: center;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4.25rem;
  padding: 0 1.5rem;
}
header .profile img {
  object-fit: contain;
  height: 1.6rem;
}
header .profile {
  overflow: hidden;
  border-radius: 100%;

  border: 2px solid transparent;
}
nav.nav-page {
  column-gap: 1rem;
  align-items: baseline;
}
nav.nav-user {
  column-gap: 1.3rem;
}
.cart-container {
  top: 4.75rem;
  position: absolute;
  background-color: var(--background-primary-color);
}

/* cart */
.cart-container {
  display: none;
  min-height: 68.53vw;
  height: fit-content;
  border-radius: 0.8rem;
}
.cart-container__content {
  height: fit-content;
  border-top: 2px solid rgba(231, 231, 231, 0.63);
}
.cart-product img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
}
.delete-button {
  margin-left: auto;
}
.delete-button img {
  object-fit: contain;
  width: 1rem;
}
.cart-container__content .cart-empty {
  display: none; /*replaced with grid*/
  place-items: center;
  height: calc(68.53vw - 5rem - 2px);
}
.cart-container .checkout-button {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 0.7rem;
  background-color: var(--primary-color);
  height: 4rem;
  color: var(--secondary-color);
}
.cart-icon {
  font-size: 16px;
  position: relative;
}
.cart-icon img {
  width: 1.5em;
}
.cart-icon > .cart-icon__amount {
  display: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 0.1em 0.5em;
  position: absolute;
  border-radius: 0.5em;
  right: -0.3em;
  top: -0.2em;
}
/* text-style */
.cart-empty,
.cart-product__name,
.cart-product__price {
  color: var(--text-secondary-color);
}
.cart-empty,
.cart-container__label,
.total-price,
.checkout-button {
  font-weight: var(--fw-bold);
}
.cart-empty,
.cart-container__label,
.checkout-button {
  font-size: 1.3rem;
}
.total-price {
  color: var(--text-primary-color);
}
/* active state */
header .profile:hover {
  border: 2px solid Var(--primary-color);
}
/* dekstop */
@media screen and (min-width: 769px) {
  body {
    padding-left: 10.31rem;
    padding-right: 10.31rem;
  }
  header {
    margin-left: 10.31rem;
    margin-right: 10.31rem;
    padding: 0;
    height: 7rem;
    border-bottom: 2px solid rgba(231, 231, 231, 0.63);
  }
  nav .link .close,
  nav .hamburger {
    display: none;
  }
  nav.nav-page {
    column-gap: 3.6rem;
  }
  nav.nav-user {
    column-gap: 2.5rem;
  }
  .link a {
    margin-right: 2rem;
    position: relative;
  }
  header .profile img {
    height: 3.2rem;
  }
  /* active state */
  nav .link a:hover::before {
    /* display: none; */
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: -2.8rem;
    background-color: var(--primary-color);
  }
  nav .link a:hover {
    color: var(--text-primary-color);
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  nav > .link {
    display: none;
    background-color: rgba(0, 0, 0, 75%);
    position: absolute;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
  }
  nav > .link .back {
    height: 100vh;
    width: 65%;
    background-color: white;
    padding: 1.5rem;
  }
  nav > .link button {
    margin-bottom: 3rem;
  }
  nav > .link a {
    color: var(--text-primary-color);
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
    display: block;
  }
  .cart-container {
    left: 5px;
    right: 5px;
  }
  .cart-container > * {
    padding: 1rem;
  }
  .cart-product {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
