/* content */
header,
nav.nav-user {
  align-items: center;
}
header {
  background-color: var(--background-primary-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4.25rem;
  padding: 0 1.5rem;
  z-index: 99;
}
header .profile img {
  object-fit: contain;
  height: 1.6rem;
}
header .profile {
  overflow: hidden;
  border-radius: 100%;

  border: 2px solid transparent;
}
nav.nav-page {
  column-gap: 1rem;
  align-items: baseline;
}
nav.nav-user {
  column-gap: 1.3rem;
}
/* cart */
.cart-container {
  --margin-x: 2rem;
  right: 0;

  top: 5rem;
  position: absolute;
  background-color: var(--background-primary-color);
  display: none;
  height: max-content;
  border-radius: 0.8rem;
  width: calc(100% - var(--margin-x) * 2);
  right: 0;
  margin-left: var(--margin-x);
  margin-right: var(--margin-x);

  box-shadow: hsla(0, 0%, 0%, 0.3) 0px 18px 50px -10px;
}

.cart-container > * {
  padding: 1rem;
}

.cart-product {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-container__content {
  height: fit-content;
  border-top: 2px solid rgba(231, 231, 231, 0.63);
}
.cart-product img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
}
.delete-button {
  margin-left: auto;
}
.delete-button img {
  object-fit: contain;
  width: 1rem;
}
.cart-container__content .cart-empty {
  display: grid; /*replaced with grid*/
  place-items: center;
  height: 10rem;
}
.cart-container .checkout-button {
  display: none;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 0.7rem;
  background-color: var(--primary-color);
  height: 4rem;
  color: var(--secondary-color);
}
.cart-icon {
  font-size: 16px;
  position: relative;
}
.cart-icon img {
  width: 1.5em;
}
.cart-icon > .cart-icon__amount {
  display: none;
  color: white;
  font-size: 10px;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 0.1em 0.5em;
  position: absolute;
  border-radius: 0.5em;
  right: -0.3em;
  top: -0.2em;
}
/* text-style */
.cart-empty,
.cart-product__name,
.cart-product__price {
  color: var(--text-secondary-color);
}
.cart-empty,
.cart-container__label,
.price__total,
.checkout-button {
  font-weight: var(--fw-bold);
}
.cart-empty,
.cart-container__label,
.checkout-button {
  font-size: 1.3rem;
}
.price__total {
  color: var(--text-primary-color);
}
/* active state */
header .profile:hover {
  border: 2px solid Var(--primary-color);
}
/* x-large device */
@media screen and (min-width: 1200px) {
  header {
    margin-left: 10.31rem;
    margin-right: 10.31rem;

    border-bottom: 2px solid rgba(231, 231, 231, 0.63);
  }
  .cart-container {
    margin-right: -4.5rem;
  }
}
/* dekstop */
@media screen and (min-width: 992px) {
  nav .link .close,
  nav .hamburger {
    display: none;
  }
  nav.nav-page {
    column-gap: 3.6rem;
  }
  nav.nav-user {
    column-gap: 2.5rem;
  }
  .link a {
    margin-right: 2rem;
    position: relative;
  }

  /* active state */

  nav .link a:hover {
    color: var(--text-primary-color);
  }
  nav .link a:hover::before {
    /* display: none; */
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: -2.8rem;
    background-color: var(--primary-color);
  }
}
@media (min-width: 600px) and (max-width: 1200px) {
  header {
    margin-left: 5rem;
    margin-right: 5rem;
    border-bottom: 2px solid rgba(231, 231, 231, 0.63);
  }
}

/* medium */
@media screen and (min-width: 600px) {
  header {
    height: 7rem;
  }
  header .profile img {
    height: 3.2rem;
  }
  .cart-container {
    width: 22.5rem;
    top: 9rem;
    margin: 0;
  }
}

/* mobile */
@media screen and (max-width: 991px) {
  nav > .link {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 99;

    transition: all 1s;
  }

  nav > .link .back {
    height: 100vh;
    width: 65vw;
    background-color: white;
    margin-left: -65vw;
    transition: all 0.3s;
  }
  .link .back > div {
    display: flex;
    flex-direction: column;
  }
  nav > .link button {
    margin: 1.5rem 0 3rem 1.5rem;
  }
  nav > .link a {
    padding: 1.5rem;
    color: var(--text-primary-color);
    font-weight: var(--fw-bold);
    font-size: 1.2rem;

    align-items: start;
    position: relative;
  }
  nav .link a:hover {
    background-color: hsl(0, 0%, 80%);
  }

  .link-transition {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }
  .link-transition .back {
    transform: translateX(65vw);
  }
}
@media (max-width: 411px) {
  .cart-container {
    --margin-x: 5px;
  }
}
@media (max-width: 600px) {
  .cart-container__content .cart-empty {
    height: calc(68.53vw - 5rem - 2px);
  }
}
