.product-image__hero {
  width: max-content;
  object-fit: contain;
  display: flex;
  align-items: center;
  position: relative;
}
.product-image__image {
  overflow: hidden;
  width: 100vw;
  height: auto;
  max-width: 27.8rem;
  max-height: 27.8rem;
  object-fit: cover;
  border-radius: 1rem;
}
.product-image__image > img {
  width: 100%;
  height: auto;
}
.product-image__hero > button {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.product-image__hero button[data-slide="left"] {
  left: 20px;
}
.product-image__hero button[data-slide="right"] {
  right: 20px;
}
.product-image__thumbnail button {
  border: 2px solid transparent;
}
.product-image__thumbnail button:hover {
  opacity: 0.5;
}
.active-thumbnail {
  border-color: var(--primary-color) !important;
  background-color: white;
}
.active-thumbnail img {
  opacity: 0.4;
}
@media (max-width: 600px) {
  .product-image__thumbnail {
    display: none;
  }
  .product-image__image {
    border-radius: 0;
    max-width: 100vw;
  }
}
@media (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
  }
  .product-image__hero {
    border-radius: 0.7rem;
  }
  .product-image .product-image__image {
    cursor: zoom-in;
  }

  .product-image .product-image__hero > button {
    display: none;
  }
  .product-image__thumbnail {
    width: 27.8rem;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
  }
  .product-image__thumbnail button {
    object-fit: contain;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .product-image__thumbnail img {
    width: 100%;
  }
}
